* @SaladTechnologies/saladcloud-compute-backend

# Administrators must approve changes to license and code owners (and other GitHub-specific resources).
/.github/ @SaladTechnologies/admins
/LICENSE @SaladTechnologies/admins
